.card {
    /* margin-top: -300px; */
    width: 240px;
    position: relative;
    margin: 8px;
    /* margin-left: 200px; */
}

#icon {
    height:30px;
}

.innerIconDiv {
    height: 24px;
    width: 24px;
    padding: 2px;
    padding-right: 14px;
    opacity: 0.5;
}