.card {
    /* margin-top: -300px; */
    /* width: 240px; */
    position: relative;
    margin: 8px;
    /* margin-left: 200px; */
    padding: 0.2px;
}


.icon {
    height:20px;
    padding: 10px;
}

.innerIconDiv {
    height: 24px;
    width: 24px;
    padding: 2px;
    padding-right: 14px;
    opacity: 0.5;
    cursor: pointer;
    /* position: absolute; */
}

.pinImage {
    float: right;
    opacity: 0.5;
    height: 15px;
    width: 15px;
}

.display {
    display: none;
}

.card:hover  .display {
    display: block;
}

.pinDiv {
    float: right;
    width: 20px;
    cursor: pointer;
}

.title {
    width: 220px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.descriptionDiv {
    margin-top: 40px;
    word-wrap:break-word;
    margin-left:10px;
    margin-right: 10px;
}

.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    background-color:white;
    border:1px solid #e8e8e8
}

.colorMenuButton {
    height:26px;
    width:26px;
    margin:4px;
}

.image {
    height: 100%;
    width: 100%;
}