<!-- <div fxLayout="row"> -->
<mat-card class="card" (mouseover)="hover=true" (mouseleave)="hover=false" [style.background-color]="fillTheColor">
  <!-- <div (mouseover)="hoverFunction(data.title)"></div> -->
  <div (mouseover)="hover=true" (mouseleave)="hover=false" (click)="openDialog()"><b>{{data.title}}</b></div>
  <div style="word-wrap:break-word" (mouseover)="hover=true" (mouseleave)="hover=false">{{data.description}}</div>
  <div (mouseover)="hover=true" (mouseleave)="hover=false"></div>
  <div class="icon" (mouseover)="hover=true" (mouseleave)="hover=false">
    <!-- <div> -->
        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu" style="position: absolute">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu> -->
    <div>
      <i class="material-icons innerIconDiv" (click)="addReminder()">
        touch_app
      </i>
      <i class="material-icons innerIconDiv" (click)="addCollaborater()">
        person_add
      </i>
      <i class="material-icons innerIconDiv" (click)="colorChange()" >
        color_lens
      </i>
      <div *ngIf="colorMenu" style="width:136px;height:110px;position:absolute;z-index: 2;background-color:white;border:1px solid #e8e8e8">
          <button style="height:26px;width:26px;margin:4px;" mat-mini-fab *ngFor="let customColor of colors" [style.background]="customColor" (click)="addColor(customColor)">
            <!-- {{color}} -->
          </button>
        </div>  
      <i class="material-icons innerIconDiv" (click)="addPhoto()">
        photo
      </i>
      <i *ngIf="!data.isArchive" class="material-icons innerIconDiv" (click)="addArchive()">
        archive
      </i>
      <i *ngIf="data.isArchive" class="material-icons innerIconDiv" (click)="removeArchive()">
        unarchive
      </i>
     
      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
      <mat-icon class="innerIconDiv" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu" style="position: absolute">
        <!-- <div style="margin-bottom:10px;"> -->
        <button mat-menu-item (click)="trash(data)" (click)="changeStatus(true)">Delete</button>
        <button mat-menu-item>Add label</button>
      <!-- </div> -->
      </mat-menu>
    
    </div>
  </div>
</mat-card>

<!-- </div> -->
