.card {
    /* margin-top: -300px; */
    /* width: 240px; */
    position: relative;
    margin: 8px;
    /* margin-left: 200px; */
    padding: 0.2px;
}


.icon {
    height:20px;
    padding: 10px;
    padding-bottom: 20px;
}

.innerIconDiv {
    height: 24px;
    width: 24px;
    padding: 2px;
    padding-right: 14px;
    opacity: 0.5;
    cursor: pointer;
    /* position: absolute; */
}

.pinImage {
    float: right;
    opacity: 0.5;
    height: 15px;
    width: 15px;
}

.display {
    display: none;
}

.card:hover  .display {
    display: block;
}

.pinDiv {
    float: right;
    width: 20px;
    cursor: pointer;
}

.title {
    width: 220px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.descriptionDiv {
    margin-top: 40px;
    word-wrap:break-word;
    margin-left:10px;
    margin-right: 10px;
}

.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    background-color:white;
    border:1px solid #e8e8e8
}

.colorMenuButton {
    height:26px;
    width:26px;
    margin:4px;
}

.image {
    height: 100%;
    width: 100%;
}

.reminderDiv {
    width: 300px;
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    z-index: 1;
}

.reminderButton {
    width: 100%;
    text-align: start;
}

.reminderTitle {
    padding-left: 15px;
}

.reminderButtonDiv {
    float:right;
    opacity: 0.5;
}

.reminderPanel {
    height: 25px;
    margin-left: 10px;
}

.reminderData {
    padding-top: 10px;
    font-size: 10px;
}

.crossDiv {
    float: left;
    background-color: #e8e8e8;
    padding: 4.5px;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

.reminderDataDiv {
    float: left;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 6px 0px 0px 6px;

}

.iconCross {
    font-size:10px;
}

.customReminderDiv {
    width: 300px;
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    z-index: 1;
}

.arrowBackButton {
    float: left;
    padding-top: 13px;
    cursor: pointer;
}

.mat-drawer-content {
    overflow: overlay !important;
}

.collabData {
    padding: 2px;
}

.collabDiv {
    padding: 5px;
    float: left;
    height: 20px;
    width: 20px;
    background-color: #e8e8e8;
    border-radius: 15px;    
}

.innerDivCollab {
    text-align: center;
}