<div class="container" >
  <mat-toolbar class="toolbar">
    <button class="menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="app-name1">{{name1}}</span>
    <span class="app-name2">{{name2}}</span>
    <div class="firstDiv">
     <button mat-button mat-icon-button >
       <i class="material-icons">
         search
        </i>
      </button>
      <input class="searchBox" type="text" placeholder="Search">
      <button mat-button mat-icon-button>
      <i class="material-icons ">
        close
      </i>
    </button>
    </div>
    <div class="afterSearchButton" style="margin-left:55px">
        <i class="material-icons">
            refresh
            </i>
    </div>
    <div class="afterSearchButton">
        <i class="material-icons">
            view_stream
            </i>
    </div>
    <div class="toolLeftDiv" >
        <!-- <a href="www.google.co.in"> -->
          <button mat-button mat-icon-button >  
                <i class="material-icons ">
                    apps
                    </i>
              
          </button>
        <!-- </a> -->
          <button mat-button mat-icon-button>
                <i class="material-icons">
                    notifications
                    </i>
              
          </button>
        </div>
<div class="leftButton">
    <button mat-button mat-icon-button (click) = "signoutCard()">
        <!-- <i class="material-icons">
            exit_to_app
            </i> -->
            <div class="signoutDiv">{{firstCharacter}}</div>
            <!-- <i class="material-icons">
                panorama_fish_eye
                </i> -->
    </button>
    <!-- <mat-card *ngIf="sign" class="signout">
        <div>
          <div>
            
          </div>
          <div></div>
          <div></div>
        </div>
        </mat-card> -->
        
</div>
<mat-card *ngIf="sign" (click)="signoutCard()" class="signout">
  
  <div class="signOuterDiv">
        <div class="imageDiv"><p class="imgBig">{{firstCharacter}}</p></div>
        <div class="nameEmail">
        <div class="username">
            {{name}}
          </div>
          <div class="useremail">
            {{email}}
          </div>
          <div>
              <button class="signoutButton" mat-raised-button  (click)="signout()">signout</button>
            </div>
        </div>  
  </div>
   
    
  </mat-card>
     
  </mat-toolbar>
 

  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav #snav class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="." (click) = "notes()"><img class="icon" src="../../../assets/images/note.svg" alt=""><span class="description">Notes</span> </a>
        <a mat-list-item routerLink="." (click) = "reminders()"><img class="icon" src="../../../assets/images/reminder.svg" ><span class="description">Reminders</span> </a>
        <mat-divider></mat-divider>
        <div class="labelDiv"><span  class="label label1">Labels</span> <span class="label label2">EDIT</span> </div>
        <a mat-list-item routerLink="." ><i class="material-icons icon">add</i><span class="description">Create new label</span> </a>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="." (click) = "archive()"><i class="material-icons icon">archive</i><span class="description">Archive</span> </a>
        <a mat-list-item routerLink="." (click) = "trash()"><img class="icon" src="../../../assets/images/trash.svg" alt=""><span class="description">Trash</span> </a>
        <!-- <a mat-list-item routerLink="." (click) = "setting()">Reminders</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

