<div>
  <h3 class="head">
    Collaborators
  </h3>
</div>
<mat-divider></mat-divider>
<div>
<div class="owner">
    {{data.owner.name}} (owner)
</div>
<div class="ownerEmail">
    {{data.owner.email}}
</div>
</div>
<mat-divider></mat-divider>

<div *ngFor="let item of data.collaborators">
  <div class="collab">
    {{item.name}}
  </div>
  <div>
      <div class="collabEmail">
          {{item.email}}
        <i class="material-icons collabRemoveIcon" (click)="deleteCollab(item.email)">
              close
        </i>
      </div>
        
        
        
  </div>
  <mat-divider></mat-divider>
</div>

<div data-placeholder="Enter Email" contenteditable="true" #newEmail class="collabEmail">

</div>

<button mat-button (click)="verifyUser(newEmail)">Add User</button>
<button mat-button [mat-dialog-close]="{'email':newEmail}">Close</button>
