<mat-card class="card">
    <mat-card-header id="loginName">
           Reset password
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <mat-form-field>
              <input matInput placeholder="Enter new password" name="password"  [formControl]="password" type="password" required >
              <mat-error ng-if="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            </div>
            <div class="container">
            <mat-form-field>
              <input matInput placeholder="Confirm new password" name="repeatPassword"  [formControl]="repeatPassword" type="password" required >
              <mat-error ng-if="repeatPassword.invalid">{{getPasswordMatch(password.value, repeatPassword.value)}}</mat-error>
            </mat-form-field>
            </div>
      
    </mat-card-content>
    <mat-card-actions>
      <div id="resetButton"><button mat-button (click) = "confirmPassword(password.value, repeatPassword.value)" >Confirm</button></div>
    </mat-card-actions>
  </mat-card>