<div class="trashDiv" fxLayout="row wrap">
<div  *ngFor="let data of notes">
    <mat-card class="card" (mouseover)="hover=true" (mouseleave)="hover=false" [style.background-color]="data.color">
        <!-- <div (mouseover)="hoverFunction(data.title)"></div> -->
        <div >{{data.title}}
        </div>
        <div style="word-wrap:break-word">{{data.description}}</div>
        <div ></div>
        <div class="icon">
            <mat-icon class="innerIconDiv" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu" style="position: absolute;">
              <!-- <div style="margin-bottom:10px;"> -->
              <button mat-menu-item (click)="trash(data)">Delete forever</button>
              <button mat-menu-item (click)="restore(data)">Restore</button>
            <!-- </div> -->
            </mat-menu>
      </div>
    </mat-card>
</div>
</div>