
.icon {
    margin-bottom:25px;;
    height:30px;
}

.trashDiv {
    margin-top: 100px;
    margin-left: 200px;
}

.card {
    width: 240px;
    position: relative;
    margin: 8px;
    padding: 0.2px;
}

.innerIconDiv {
    height: 24px;
    width: 24px;
    padding: 5px;
    padding-right: 14px;
    opacity: 0.5;
    float:right;
}

.image {
    height: 100%;
    width: 100%;
}

.title {
    font-weight: bold;
    padding: 10px;
}

.description {
    margin-left:10px;
    margin-right: 10px;
}