<div fxFlex fxLayout="column" style="margin-top: 10vh;height: 100%;">
  <div>
<mat-card *ngIf="enterExpression" class="takeNotes">
  <mat-card-title class="notesTitle">
    <div>
      <span><input (click)="newNote()" class="inputTitle" placeholder="Take a note..."></span>
      <div>
        <i class="material-icons icons">
          image
        </i>
        <i class="material-icons icons">
          list
        </i>
      </div>
    </div>
  </mat-card-title>
</mat-card>
<mat-card *ngIf="expression" class="hiddentakeNotes">
  <div class="hiddenDiv">
    <span>
      <div class="inputTitleNote" contenteditable="true" placeholder="Title" #t >
        </div>
    </span>
    <span><img class="pinIcon" src="../../../assets/images/pin.svg" alt=""></span>
  </div>
  <div class="inputNote" contenteditable="true" placeholder="Take a note" #d>
  </div>
  <div class="iconsDiv">
    <app-icons></app-icons>
    <button mat-button class="closeButton" (click)="closeNote(t, d)">CLOSE</button>
  </div>
</mat-card>
</div>
<div fxLayout="space-around" fxLayoutGap.xs="0" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.gt-xs="row wrap" fxLayout="row wrap" class="noteCards">
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
</div>
</div>


