<i class="material-icons innerIconDiv" (click)="addReminder()">
    touch_app
  </i>
  <i class="material-icons innerIconDiv" (click)="addCollaborater()">
    person_add
  </i>
  <i class="material-icons innerIconDiv" (click)="addColor()">
    color_lens
  </i>
  <i class="material-icons innerIconDiv" (click)="addPhoto()">
    photo
  </i>
  <i class="material-icons innerIconDiv" (click)="addArchive()">
    archive
  </i>
  <i class="material-icons innerIconDiv" (click)="addMore()">
    more_vert
  </i>
  <!-- <i class="material-icons innerIconDiv">
    undo
  </i>
  <i class="material-icons innerIconDiv">
    redo
  </i> -->
