<mat-card class="card">
    <mat-card-header id="loginName">
           Forgot password
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <div id="resetButton"><button mat-button (click) = "passwordReset(email.value)" >Reset</button></div>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="isValid" class="msg">
      <p>Verification email has been sent to your email : {{email.value}}<p>
      <p>Click on the link in verification mail to change the password</p>
  </div>
  