<div>
  <div>
    <h3 class="name">Edit Labels</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div>
        <i class="material-icons">
            delete
            </i>
    </div>
    <div>
      <input class="input" type="text" placeholder="Create a label" maxlength="50" #newLabel>
    </div>
    <div>
        <i class="material-icons">
            done
        </i>
    </div>
  </div>
  <div>
    <div class="label" *ngFor="let item of data ">
      {{item}}
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
<div>
  <button mat-button class="labelButton" [mat-dialog-close]="{'labelName':newLabel.value}">DONE</button>
</div>
</div>