.labelButton {
    float: right;
}

.name {
    font-family: 'Roboto',arial,sans-serif;
    font-size: 18px;
}

.delete {
    float: left;
}

.done {
    float: right;
}

.input {
    margin-left: 8px;
    float: left;
    outline: none;
    border: none;

}

.divider {
    margin-top: 30%;
    padding: 15px;
}