.labelButton {
    float: right;
}

.name {
    font-family: 'Roboto',arial,sans-serif;
    font-size: 18px;
}

.input {
    margin-left: 8px;
    float: left;
    outline: none;
    border: none;
}

.divider {
    padding: 5px;
}

.label {
    padding: 5px;
}
